# These id and secret are generated especially for testing purposes,
# if you have your own, please use them, otherwise you can use these.
OAUTH2_GITHUB_CLIENT_ID=
OAUTH2_GITHUB_CLIENT_SECRET=

OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRES=900

DB=sqlite+aiosqlite:///db.sqlite3
SECRET=
ALGORITHM=HS256


WEBHOOK_URL=
TG_TOKEN=
WEBAPP_URL=
MONO_TOKEN=